body{
  padding:0;
  margin:0;
}
.header{
  font-family:'arial';
  background-color:#fffa00;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding:1em;
}
.label{
  font-size: 1.2em;
  font-family: 'arial';
}

#search{
  padding: 1em;
}

